<h1>wwwet</h1>

<h3>AnOrmApart</h3>

<div>
<h2>Base</h2>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>HTML fieldset</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>InsertedBy</td>
			<td>Inserted by</td>
			<td>NA</td>
			<td>INSERT('USER')</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Credentials</td>
			<td>NONE</td>
			<td>USER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>InsertedOn</td>
			<td>Inserted on</td>
			<td>NA</td>
			<td>SP-INSERT(now())</td>
			<td>NO</td>
			<td>TIMESTAMP</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Credentials</td>
			<td>NONE</td>
			<td>TIMESTAMP</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>UpdatedBy</td>
			<td>Updated by</td>
			<td>NA</td>
			<td>UPDATE(USER)</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Credentials</td>
			<td>NONE</td>
			<td>USER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>UpdatedOn</td>
			<td>Updated on</td>
			<td>NA</td>
			<td>SP-UPDATE(now())</td>
			<td>NO</td>
			<td>TIMESTAMP</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Credentials</td>
			<td>NONE</td>
			<td>TIMESTAMP</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
