<!--    JI    16 oktober 2013    Catalog for Member and LoginAttempt tables used in membership --><!-- h1 app en databasename -->
<h1>Membership</h1>
<!-- h2 app en databasename in het Nederlands -->

<h2>Lidmaatschap</h2>
<!-- vendor of leveranciernaam -->

<h3>ModernWays</h3>
<!-- voor elke tabel in de database een div -->

<div><!-- h2 de naam van de tabel -->
<h2>LoginAttempt</h2>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdMember</td>
			<td>NA</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>Id</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idmember</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Time</td>
			<td>Time</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>VARCHAR</td>
			<td>30</td>
			<td>YES</td>
			<td>NO</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>time</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h1>Gebruiker</h1>

<h2>User</h2>
<!-- extends base class -->

<h3>Extend</h3>
<!-- order by columns -->

<h4>UserName</h4>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>UserName</td>
			<td>Gebruikersnaam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>50</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>username</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>E-mail</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>80</td>
			<td>YES</td>
			<td>NO</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>EMAIL</td>
			<td>email</td>
			<td>NA</td>
			<td>Geen geldig e-mail adres</td>
			<td><a href="mailto:iemand@provider.com">iemand@provider.com</a></td>
		</tr>
		<tr>
			<td>Password</td>
			<td>Wachtwoord</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>128</td>
			<td>NO</td>
			<td>NO</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>PASSWORD</td>
			<td>password</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>LastActivity</td>
			<td>Laatst actief</td>
			<td>NO</td>
			<td>SP-UPDATE(now())</td>
			<td>NO</td>
			<td>TIMESTAMP</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>lastactivity</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>FirstLogin</td>
			<td>Eerste aanmelding</td>
			<td>NO</td>
			<td>SP-INSERT(now())</td>
			<td>NO</td>
			<td>TIMESTAMP</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>firstlogin</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Authenticated</td>
			<td>Geverifieerd</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>authenticated</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>LockedOut</td>
			<td>Uitgesloten</td>
			<td>NO</td>
			<td>NA</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>lockedout</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>Role</h2>

<h3>extend</h3>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>Beschrijving</td>
			<td>NO</td>
			<td>NA</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>TEXTAREA</td>
			<td>NA</td>
			<td>description</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>UserRole</h2>

<h3>extend</h3>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdMember</td>
			<td>Id Member</td>
			<td>SELECTBY</td>
			<td>FK</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>User</td>
			<td>Id</td>
			<td>UserName</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>idmember</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdRole</td>
			<td>Id Role</td>
			<td>SELECTBY</td>
			<td>FK</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Role</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>idrole</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
