.logical-model h2::before {
    content: "Databasenaam: ";
    font-size: 0.6em;
    color: black;
    font-weight: normal;
}

.logical-model h3::before {
    content: "Displaynaam: ";
    font-size: 0.6em;
    color: black;
    font-weight: normal;
}

.logical-model h4::before {
    content: "Vendor: ";
    font-size: 0.6em;
    color: black;
    font-weight: normal;
}

.logical-model div h2::before {
    content: "Tabelnaam: ";
    font-size: 0.6em;
    color: black;
    font-weight: normal;
}

.logical-model div h3::before {
    content: "Displaynaam: ";
    font-size: 0.6em;
    color: black;
    font-weight: normal;
}

.logical-model div h4::before {
    content: "Base tabel: ";
    font-size: 0.6em;
    color: black;
    font-weight: normal;
}

.logical-model div h5::before {
    content: "Geordend op ";
    font-size: 0.6em;
    color: black;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border: solid SpringGreen 0.1em;
}

table.logical-model-entity thead td {
    border: solid SpringGreen 0.1em;
    padding: 0.2em;
}

table.logical-model-entity tbody td {
    border: solid SpringGreen 0.1em;
    padding: 0.2em;
}

table.logical-model-entity thead tr td:nth-child(1),
table.logical-model-entity thead tr td:nth-child(2),
table.logical-model-entity thead tr td:nth-child(3),
table.logical-model-entity thead tr td:nth-child(4),
table.logical-model-entity thead tr td:nth-child(5),
table.logical-model-entity thead tr td:nth-child(6),
table.logical-model-entity thead tr td:nth-child(7),
table.logical-model-entity thead tr td:nth-child(8),
table.logical-model-entity thead tr td:nth-child(9),
table.logical-model-entity thead tr td:nth-child(10),
table.logical-model-entity thead tr td:nth-child(11),
table.logical-model-entity thead tr td:nth-child(12),
table.logical-model-entity thead tr td:nth-child(13),
table.logical-model-entity thead tr td:nth-child(14) {
    border: solid SeaGreen 0.1em;
    padding: 0.2em;
    background-color: PaleGreen;
}

table.logical-model-entity tbody tr td:nth-child(1),
table.logical-model-entity tbody tr td:nth-child(2),
table.logical-model-entity tbody tr td:nth-child(3),
table.logical-model-entity tbody tr td:nth-child(4),
table.logical-model-entity tbody tr td:nth-child(5),
table.logical-model-entity tbody tr td:nth-child(6),
table.logical-model-entity tbody tr td:nth-child(7),
table.logical-model-entity tbody tr td:nth-child(8),
table.logical-model-entity tbody tr td:nth-child(9),
table.logical-model-entity tbody tr td:nth-child(10),
table.logical-model-entity tbody tr td:nth-child(11),
table.logical-model-entity tbody tr td:nth-child(12),
table.logical-model-entity tbody tr td:nth-child(13),
table.logical-model-entity tbody tr td:nth-child(14) {
    border: solid SeaGreen 0.1em;
    padding: 0.2em;
    background-color: MediumSpringGreen;
}

table.logical-model-entity thead tr td:nth-child(15),
table.logical-model-entity thead tr td:nth-child(16),
table.logical-model-entity thead tr td:nth-child(17),
table.logical-model-entity thead tr td:nth-child(18),
table.logical-model-entity thead tr td:nth-child(19),
table.logical-model-entity thead tr td:nth-child(20) {
    border: solid Green 0.1em;
    padding: 0.2em;
    background-color: SeaGreen;
}

table.logical-model-entity tbody tr td:nth-child(15),
table.logical-model-entity tbody tr td:nth-child(16),
table.logical-model-entity tbody tr td:nth-child(17),
table.logical-model-entity tbody tr td:nth-child(18),
table.logical-model-entity tbody tr td:nth-child(19),
table.logical-model-entity tbody tr td:nth-child(20) {
    border: solid Green 0.1em;
    padding: 0.2em;
    background-color: MediumSeaGreen;
}