* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    font-family: Verdana, Arial, sans-serif;
}

h2 {
    display: inline;
    float: left;
    margin: 0.3em;
    line-height: 1.2em;
}

footer {
    height: 15%;
}

.room {
    background-color: #fff;
}

/* ----------------------- Watermark ----------------------*/
#watermark {
    background: url('../images/inantwerpen.png') no-repeat center center;
    position: absolute;
    top: 27%;
    left: 15%;
    height: 74%;
    width: 70%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
/* ----------------- html elements ---------------------*/
.floor.catalog .room .tile h1 {
    font-size: 1.6em;
}

.floor .editable h1 {
    font-size: 2em;
    display: block;
    padding: 0.3em;
    clear: both;
    color: rgb(149, 175, 150);
}

.floor .editable h2 {
    font-size: 1.5em;
    display: block;
    padding: 0.3em;
    margin: 0;
    clear: both;
    color: rgb(43, 113, 61);
}

.floor .editable h3 {
    font-size: 1.17em;
    display: block;
    padding: 0.3em;
    clear: both;
    color: rgb(96, 103, 87);
}

.floor .editable h4 {
    font-size: 1.12em;
    display: block;
    padding: 0.3em;
    clear: both;
    color: rgb(149, 175, 150);
}

.floor .editable h5 {
    font-size: .83em;
    display: block;
    padding: 0.3em;
    clear: both;
}

.floor .editable h6 {
    font-size: .75em;
    display: block;
    padding: 0.3em;
    clear: both;
}

.floor .editable table {
    clear:  both;
}

/* ---------------- room tile size ---------------------*/
#home-floor .room .tile {
    width: 33.33%;
    height: 33.333333%;
}

.floor.php .room .tile {
    width: 25%;
    height: 33.33%;
}

.floor.catalog .room .tile, 
#php-helpers-floor .room .tile {
    width: 25%;
    height: 25%;
}

.floor.sql .room .tile {
    width: 33.33%;
    height: 33.33%;
}
/* ---------------- Wallpaper ---------------------*/
/* kleurpatroon eerste verdiep 
The :nth-child(an+b) CSS pseudo-class matches an element that has 
an+b-1 siblings before it in the document tree, for a given 
positive or zero value for n, and has a parent element.

This can more clearly be described this way: 
the matching element is the bth child of an element after 
all its children have been split into groups of a elements each.

The values a and b must both be integers, and the index of 
an element's red child is 1.

In other words, this class matches all children whose index 
fall in the set { an + b; n = 0, 1, 2, ... }.
*/
/* ----------------------- anormapart - home ------------------------*/
/* Afbeelding */
#home-floor .room .tile:nth-child(4) {
    width: 66.66%;
    height: 33.33%;
    background-image: url('../images/card-catalogue.jpg');
    background-size: contain;
}

/* Rogge */
#home-floor .room .tile:nth-child(1) {
    background: rgba(184, 127, 48, 0.9);
}

/* Reden */
#home-floor .room .tile:nth-child(2) {
    background: rgba(171, 154, 138, 0.9);
}

/* Pizza */
#home-floor .room .tile:nth-child(3) {
    background: rgba(167, 76, 47, 0.9);
}

/* Boter */
#home-floor .room .tile:nth-child(5) {
    background: rgba(250, 237, 202, 0.9);
}

/* Antique white mocassin */
#home-floor .room .tile:nth-child(6) {
    background: rgba(250,235,215, 0.9);
}

/* Parasol */
#home-floor .room .tile:nth-child(7) {
    background: rgba(249, 127, 42, 0.9);
}

/* Rendler */
#home-floor .room .tile:nth-child(8) {
    background: rgba(126, 117, 108, 0.9);
}

/* ---------------------- php -------------------*/
/* Einder */
.floor.php .room .tile:nth-child(7n + 1) {
    background: rgba(208, 201, 193, 0.9);
}

/* Branding */
.floor.php .room .tile:nth-child(7n + 2) {
    background: rgba(164, 172, 175, 0.9);
}

/* Aubade */
.floor.php .room .tile:nth-child(7n + 3) {
    background: rgba(99, 149, 288, 0.9);
}

/* Koningsblauw */
.floor.php .room .tile:nth-child(7n + 4) {
    background: rgba(6, 139, 198, 0.9);
}

/* Staal */
.floor.php .room .tile:nth-child(7n + 5) {
    background: rgba(17, 93, 117, 0.9);
}

/* Graaf */
.floor.php .room .tile:nth-child(7n + 6) {
    background: rgba(61, 67, 67, 0.9);
}

/* Erkenning */
.floor.php .room .tile:nth-child(7n + 7) {
    background: rgba(82, 140, 153, 0.9);
}

.floor.php .room .tile:nth-child(5) {
    background-image: url('../images/php-logo-trans.png');
    background-position: 90% 5%;
    background-repeat: no-repeat;
    width: 50%;
}

#php-mvc-floor .room .tile:nth-child(5) {
    background-image: url('../images/TrygveReenskaug.png');
    background-repeat: no-repeat;
    width: 50%;
    background-position-x: right;
    background-size: contain;
}

#php-helpers-floor .room .tile:nth-child(5) {
    background-image: url('../images/helpers.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------- catalog -------------------*/
/* rups */
.floor.catalog .room .tile:nth-child(7n + 1) {
    background: rgba(177, 187, 114, 0.9);
}

/* rucola */
.floor.catalog .room .tile:nth-child(7n + 2) {
    background: rgba(43, 113, 61, 0.9);
}

/* aanpassing */
.floor.catalog .room .tile:nth-child(7n + 3) {
    background: rgba(149, 175, 150, 0.9);
}

/* lariks */
.floor.catalog .room .tile:nth-child(7n + 4) {
    background: rgba(96, 103, 87, 0.9);
}

/* lenteregen */
.floor.catalog .room .tile:nth-child(7n + 5) {
    background: rgba(226, 234, 185, 0.9);
}

/* wilg */
.floor.catalog .room .tile:nth-child(7n + 6) {
    background: rgba(181, 206, 60, 0.9);
}

/* zorgvuldig */
.floor.catalog .room .tile:nth-child(7n + 7) {
    background: rgba(201, 210, 183, 0.9);
}

/* Afbeelding */
.floor.catalog .room .tile:nth-child(6) {
    width: 50%;
    height: 25%;
    background-image: url('../images/catalogue.jpg');
    background-size: contain;
}

/* ---------------------- SQL -------------------*/
/* rups */
.floor.sql .room .tile:nth-child(7n + 1) {
    background: rgba(177, 187, 114, 0.9);
}

/* rucola */
.floor.sql .room .tile:nth-child(7n + 2) {
    background: rgba(43, 113, 61, 0.9);
}

/* aanpassing */
.floor.sql .room .tile:nth-child(7n + 3) {
    background: rgba(149, 175, 150, 0.9);
}

/* lariks */
.floor.sql .room .tile:nth-child(7n + 4) {
    background: rgba(96, 103, 87, 0.9);
}

/* lenteregen */
.floor.sql .room .tile:nth-child(7n + 5) {
    background: rgba(226, 234, 185, 0.9);
}

/* wilg */
.floor.sql .room .tile:nth-child(7n + 6) {
    background: rgba(181, 206, 60, 0.9);
}

/* zorgvuldig */
.floor.sql .room .tile:nth-child(7n + 7) {
    background: rgba(201, 210, 183, 0.9);
}

/* Afbeelding */
.floor.sql .room .tile:nth-child(5) {
    width: 33.33%;
    height: 33.33%;
    background-image: url('../images/codd-big.png');
    background-size: cover;
}
/* ------------------- editor ---------------- */
.floor.editor .room {
    background: rgba(01, 210, 183, 0.9);
}
/* ------------------------Red ----------------------- */
/* Compromis */
#red-floor .room .tile:nth-child(6n + 1) {
    background: rgba(208, 201, 193, 0.9);
}

/* Jeugdig */
#red-floor .room .tile:nth-child(6n + 2) {
    background: rgba(237, 233, 224, 0.9);
}

/* Furie */
#red-floor .room .tile:nth-child(6n + 3) {
    background: rgba(220, 74, 42, 0.9);
}

/* Verleiding */
#red-floor .room .tile:nth-child(6n + 4) {
    background: rgba(235, 154, 163, 0.9);
}

/* Domino */
#red-floor .room .tile:nth-child(6n + 5) {
    background: rgba(76, 71, 65, 0.9);
}

/* Verwachting */
#red-floor .room .tile:nth-child(6n + 4) {
    background: rgba(58, 85, 96, 0.9);
}

/* ------------------------ blue -------------------- */
/* Einder */
#blue-floor .room .tile:nth-child(6n + 1) {
    background: rgba(208, 201, 193, 0.9);
}

/* Branding */
#blue-floor .room .tile:nth-child(6n + 2) {
    background: rgba(164, 172, 175, 0.9);
}

/* Aubade */
#blue-floor .room .tile:nth-child(6n + 3) {
    background: rgba(99, 149, 288, 0.9);
}

/* Koningsblauw */
#blue-floor .room .tile:nth-child(6n + 4) {
    background: rgba(6, 139, 198, 0.9);
}

/* Staal */
#blue-floor .room .tile:nth-child(6n + 5) {
    background: rgba(17, 93, 117, 0.9);
}

/* Graaf */
#blue-floor .room .tile:nth-child(6n + 4) {
    background: rgba(61, 67, 67, 0.9);
}

/* Erkenning */
#blue-floor .room .tile:nth-child(6n + 4) {
    background: rgba(82, 140, 153, 0.9);
}
/* ----------------------- orange ------------------------*/
/* Rogge */
#orange-floor .room .tile:nth-child(6n + 1) {
    background: rgba(184, 127, 48, 0.9);
}

/* Zonlicht */
#orange-floor .room .tile:nth-child(6n + 2) {
    background: rgba(249, 252, 243, 0.9);
}

/* Pizza */
#orange-floor .room .tile:nth-child(6n + 3) {
    background: rgba(167, 76, 47, 0.9);
}

/* Reden */
#orange-floor .room .tile:nth-child(6n + 4) {
    background: rgba(171, 154, 138, 0.9);
}

/* Boter */
#orange-floor .room .tile:nth-child(6n + 5) {
    background: rgba(250, 237, 202, 0.9);
}

/* Parasol */
#orange-floor .room .tile:nth-child(6n + 4) {
    background: rgba(249, 127, 42, 0.9);
}

/* Rendler */
#orange-floor .room .tile:nth-child(6n + 4) {
    background: rgba(126, 117, 108, 0.9);
}
