* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    font-family: Verdana, Arial, sans-serif;
}

h2 {
    display: inline;
    float: left;
    margin: 0.3em;
    line-height: 1.2em;
}

footer {
    height: 15%;
}

/* geen one page app, floor is altijd zichtbaar */

.floor {
    display: block;
}


/* Pistache */
.floor .room .tile:nth-child(5n + 1) {
    background: rgba(169,229,110, 0.9);
}

/* Sour */
.floor .room .tile:nth-child(5n + 2) {
    background: rgba(218,247,72, 0.9);
}

/* 46% shields */
.floor .room .tile:nth-child(5n + 3) {
    background: rgba(255,143,63, 0.9);
}

/* PropelingBliss */
.floor .room .tile:nth-child(5n + 4) {
    background: rgba(255,165,40, 0.9);
}

/* Baby Poop */
.floor .room .tile:nth-child(5n + 5) {
    background: rgba(236,249,54, 0.9);
}

.floor .tile ul {
    display: block;
    color: #f4f0ec;
    text-align: center;
    font-size: 4vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    overflow: hidden;
    -webkit-text-shadow: 0 0 6px #414A4C;
    -moz-text-shadow: 0 0 6px #414A4C;
    text-shadow: 0 0 6px #414A4C;
}

.room.full {
    clear:  both;
    background: #FFCF79;  
    padding: 2%;  
}

.room.full h1 {
    float: none;
    display: block;
    color: #E75D49;
    margin: 1em;
}

.room.full h2 {
    display: block;
    float:none;
    color: #fff;
    margin: 1em;
}

.room.full ol {
    margin-left: 2em;
    font-size:  1em;
}

.room.full ul  {
    margin-left: 2em;
    font-size:  1.5em;
}

.room.full p {
    display: block;
    margin: 0 0 1em 4em;
}