/* 
    controle paneel 
*/
.control-panel {
    height: 11%;
    width:  100%;
    min-height: 1.2em;
    min-width: 42em;
    position: relative;
    background-color: #ffffff; /* #3b444b; arsenic*/
    border-bottom: 0.3em solid #fff;
    /* border-bottom: 2px dotted rgb(226,69,16); */
}

/* 
    controle paneel icoon tegel
    opmerking: Viewport-percentage lengths: the ‘vw’, ‘vh’, ‘vmin’, ‘vmax’ units
    The viewport-percentage lengths are relative to the size of the initial containing block. 
    When the height or width of the initial containing block is changed, 
    they are scaled accordingly. 
    However, when the value of ‘overflow’ on the root element is ‘auto’, 
    any scroll bars are assumed not to exist.
    Bron: http://www.w3.org/TR/css3-values/#viewport-relative-lengths
*/
.control-panel .tile {
    position: relative; /* masker is absoluut geplaatst hierop*/
    float: left; /* tegels naast en onder elkaar */
    overflow: hidden;    
    color: white;
    background-color: #3b444b; /*arsenic*/
    text-align: center;
    border-right:  0.1em solid #fff;
	line-height: 1.5;
    font-size: 6.5vh;
    min-width: 1.2em;
    min-height:  1.2em;
    /*font-size: 3.5vw;*/
}

/* standaard hover kan overschreven worden door ander schema */
.control-panel .tile:hover {
    color: rgb(226,69,16);
    cursor: pointer;
}

.control-panel a {
    text-decoration: none;
}

.control-panel h1 {
    font-size: 7vh;
    font-weight: 900;
    color: #3b444b; /*arsenic*/
    text-align: right;
}

.control-panel h2 {
    font-size: 5.5vh;
    font-weight: 900;
    color: #3b444b; /*arsenic*/
    text-align: right;
}

.control-panel h3 {
    font-size: 4vh;
    font-weight: 900;
    color: #3b444b; /*arsenic*/
    text-align: right;
}

.control-panel h1 span {
    color: #e24510;
    text-decoration: underline;
}
