* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.floor {
    display: flex; /* or inline-flex */
    width: 100%;
    height: 100%;
    background-color: #ffd800;
}

.floor .control-panel {
}

.floor .room {
}
