body > footer {
    position: relative;
    width: 100%;
    min-height: 17%;
    background-color: #3b444b; /*arsenic*/

    color: rgb(255,255,255);
    overflow: auto;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.5em;
}

body > footer span {
    text-decoration: underline;
}

body > footer .copy {
    position: absolute;
    bottom: 2%;
    left: 0.5%;
}

body > footer .vcard {
    position: absolute;
    top: 2%;
    right: 0.5%;
    margin-left: 60%;
}

body > footer .vcard .adr .postal-code, .locality .country-name{
    float: left;
    margin-right: 1em;
}

body > footer a:link, footer a:visited {
    color: rgb(255,255,255);
    margin-left: 0.5%;
    
}