/* 
    JI
    2 mei 2013
    23 december 2013
    19 februari 2015
    Font wordt geladen in iconfont.css
*/

/* 
    de container voor de form 
*/
.form-container {
    position: absolute;
    background-color: rgba(230,230,230, 0.6);
    border: 1px solid rgba(147, 184, 189, 0.8);
    box-shadow:  
        0pt 2px 5px rgba(105, 108, 109,  0.7),  
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 8px 8px 5px 5px;
    overflow: hidden;
}

#login .form-container {
    margin-top: 10%;
    margin-left: 30%;
    height: 47%;
    width: 40%;
}

#register .form-container {
    margin-top: 10%;
    margin-left: 30%;
    height: 63%;
    width: 40%;}


.form {
    position: relative;
    padding: 0 2% 0 2%;
    background: rgb(247, 247, 247);
    height: 83%;
}


/**** container h1 text styling ****/
.form h1 {
    font-size: 180%;
    color: rgb(102,102,102);
    padding: 1% 0 2% 1%;
    font-weight: bold;
    text-align: center;
}

/* de streep onder de titel h1 */
.form h1:after {
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 0.5%;
	background: -moz-linear-gradient(left, 
        rgba(226,69,16,0) 0%, 
        rgba(226,69,16,0.8) 30%, 
        rgba(226,69,16,1) 53%, 
        rgba(226,69,16,0.8) 79%, 
        rgba(226,69,16,0) 100%); 
	background: -webkit-linear-gradient(left, 
        rgba(226,69,16,0) 0%,
        rgba(226,69,16,0.8) 30%,
        rgba(226,69,16,1) 53%,
        rgba(226,69,16,0.8) 79%,
        rgba(226,69,16,0) 100%); 
	background: -ms-linear-gradient(left, 
        rgba(226,69,16,0) 0%,
        rgba(226,69,16,0.8) 30%,
        rgba(226,69,16,1) 53%,
        rgba(226,69,16,0.8) 79%,
        rgba(226,69,16,0) 100%); 
	background: linear-gradient(left, 
        rgba(226,69,16,0) 0%,
        rgba(226,69,16,0.8) 30%,
        rgba(226,69,16,1) 53%,
        rgba(226,69,16,0.8) 79%,
        rgba(226,69,16,0) 100%); 
}

/* input styling*/
/* placeholders */
::-webkit-input-placeholder {
	color: rgb(190, 188, 188); 
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	color: rgb(190, 188, 188); 
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: rgb(190, 188, 188); 
	font-style: italic;
}

:-ms-input-placeholder {  
	color: rgb(190, 188, 188); 
	font-style: italic;
}

/* styling div's in form */
.form form div {
    margin-top: 0.5em;
}

/* styling the checkbox*/
.form input[type="checkbox"] {
	margin-top: 0.5%;
	margin-right: 5px;
}

label.checkbox {
	display: inline-block;
	font-size: 0.8em;	
	font-style: italic;
	width: 50%;
	margin: 0.5% 0 1.5% 0;	
    padding: 1% 0 1% 0;
}

/* all the input except submit and checkbox */
.form input:not([type="checkbox"]) {
	width: 91%;
	padding: 1.25% 1.25% 1.25% 2.5em;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}

.form input:not([type="checkbox"]):active,
.form input:not([type="checkbox"]):focus {
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

.form label {
	color: rgb(64, 92, 96);
	position: relative;
}


/** the magic icon trick ! Alleen voor labels met een font-icoon**/
.form label[class^="icon-"]:before {
    font-size: 1em;
	/* Reduce blur on icons in chrome, opera, safari and ios. */
	/* This is hacky & bad. Maybe possible for firefox, not sure yet. */
	-webkit-font-smoothing: antialiased;	
    color: rgb(102, 102, 102);
    position: absolute;
    left: 0.5em;
    top: 1.8em;
	width: 1.5em;
}

.form button {
    float:  right;
	width: 25%;
    height: 8%;
	cursor: pointer;	
	background: rgb(102,102,102);
	color: #fff;
	font-size: 1.1em;	
	border: 1px solid rgb(28, 108, 122);	
	margin: 1% 0 1.5% 0;	
    padding: 1% 0 1% 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}

.form button:hover {
	background: rgb(190, 188, 188);
}

.form button:active,
.form button:focus {
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

/*styling the feedback area of the form */
.form-container div.feedback {
    width: 100%;
    height: 18%;
	color: rgb(0,0,0);
	font-size: 0.8em	;
    padding: 0.3em;
    vertical-align: text-bottom;
	text-align: center;
	border-top: 1px solid rgb(219, 229, 232);
	-webkit-border-radius: 0 0  5px 5px;
	-moz-border-radius: 0 0  5px 5px;
	border-radius: 0 0  5px 5px;
	background: rgb(225, 234, 235);
	background: repeating-linear-gradient(90deg, 
	    rgb(205,205,205) , 
	    rgb(205,205,205) 15px, 
	    rgb(230,230,230) 15px, 
	    rgb(230,230,230) 30px, 
	    rgb(230,230,230) 30px
	);
}

.form-container div.feedback a {
	padding:  0.2em 0.4em;
	color: rgb(0,0,0);
	margin-left: 0.6em;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}

.form-container div.feedback a:hover {
	color: rgb(102, 102, 102);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(226,69,16);
}

/* styling the error area of the form
    is visible only when debugging */
.form-container div.error {
    display:  block;
}
