/*  Raster
    JI
    20 juni 2014 */

/* 8 x 8 raster*/
/* 1 breed, 1 hoog, 8 x 8 raster */
._1x1-8x8 {
    width: 12.5%;
    height: 12.5%;
}

._1x2-8x8 {
    width: 12.5%;
    height: 25%;
}

._2x1-8x8 {
    width: 25%;
    height: 12.5%;
}

._2x2-8x8 {
    width: 25%;
    height: 25%;
}

._2x3-8x8 {
    width: 25%;
    height: 37.5%;
}

._2x4-8x8 {
    width: 25%;
    height: 50%;
}

._3x1-8x8 {
    width: 37.5%;
    height: 12.5%;
}

._3x2-8x8 {
    width: 37.5%;
    height: 25%;
}

._3x3-8x8 {
    width: 37.5%;
    height: 37.5%;
}

._3x4-8x8 {
    width: 37.5%;
    height: 50%;
}

._3x3-8x8 {
    width: 37.5%;
    height: 37.5%;
}

._3x3-8x8 {
    width: 37.5%;
    height: 37.5%;
}

._3x3-8x8 {
    width: 37.5%;
    height: 37.5%;
}

._4x1-8x8 {
    width: 50%;
    height: 12.5%;
}

._4x2-8x8 {
    width: 50%;
    height: 25%;
}

._4x3-8x8 {
    width: 50%;
    height: 37.5%;
}

._4x4-8x8 {
    width: 50%;
    height: 50%;
}

._5x1-8x8 {
    width: 62.5%;
    height: 12.5%;
}

._5x2-8x8 {
    width: 62.5%;
    height: 25%;
}

._5x3-8x8 {
    width: 62.5%;
    height: 37.5%;
}

._5x4-8x8 {
    width: 62.5%;
    height: 50%;
}

._5x5-8x8 {
    width: 62.5%;
    height: 62.5%;
}

._5x6-8x8 {
    width: 62.5%;
    height: 75%;
}

._5x7-8x8 {
    width: 62.5%;
    height: 87.5%;
}

._5x8-8x8 {
    width: 62.5%;
    height: 100%;
}

/* 4 x 3 raster  */
._1x1-4x3 {
    width: 25%;
    height: 33.3%;
}

._2x1-4x3 {
    width: 50%;
    height: 33.3%;
}

._3x1-4x3 {
    width: 75%;
    height: 33.3%;
}

._4x1-4x3 {
    width: 100%;
    height: 33.3%;
}

/* 5 x 8 raster */
._1x1-5x8 {
    width: 20%;
    height: 12.5%;
}

._2x1-5x8 {
    width: 20%;
    height: 12.5%;
}

._3x1-5x8 {
    width: 20%;
    height: 12.5%;
}

._4x1-5x8 {
    width: 20%;
    height: 12.5%;
}

._5x1-5x8 {
    width: 20%;
    height: 12.5%;
}

._1x7-5x8 {
    width: 20%;
    height: 87.5%;
}

._2x7-5x8 { 
    width: 40%;
    height: 87.5%;
}

._3x7-5x8 {
    width: 60%;
    height: 87.5%;
}

._4x7-5x8 {
    width: 80%;
    height: 87.5%;
}

._5x7-5x8 {
    width: 100%;
    height: 87.5%;
}


._1x1-16x1 {
    width: 6.25%;
    height: 100%;
}

/* 25 tegels per rij, 1 rij */
._1x1-25x1 {
    width: 4%;
    height: 100%;
}
