@font-face {
	font-family: 'tower-pattern';
	src:url('icon/fonts/tower-pattern.eot?8c8dnl');
	src:url('icon/fonts/tower-pattern.eot?#iefix8c8dnl') format('embedded-opentype'),
		url('icon/fonts/tower-pattern.woff?8c8dnl') format('woff'),
		url('icon/fonts/tower-pattern.ttf?8c8dnl') format('truetype'),
		url('icon/fonts/tower-pattern.svg?8c8dnl#tower-pattern') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* 
    “Substring Matching Attribute Selectors”.
    These new selectors are as follows:
    [att^=val] – the “begins with” selector
    [att$=val] – the “ends with” selector
    [att*=val] – the “contains” selector
    
    http://www.css3.info/preview/attribute-selectors/
*/

[class^="icon-"] {
    /* rest wordt gedefinieerd in myaa.css of in form.css */
	font-family: 'tower-pattern';
	speak: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-enter:before {
	content: "\e600";
}
.icon-exit:before {
	content: "\e601";
}
.icon-pencil:before {
	content: "\e602";
}
.icon-image:before {
	content: "\e603";
}
.icon-images:before {
	content: "\e604";
}
.icon-book:before {
	content: "\e605";
}
.icon-books:before {
	content: "\e606";
}
.icon-file:before {
	content: "\e607";
}
.icon-copy:before {
	content: "\e608";
}
.icon-stack:before {
	content: "\e609";
}
.icon-folder:before {
	content: "\e60a";
}
.icon-folder-open:before {
	content: "\e60b";
}
.icon-notebook:before {
	content: "\e60c";
}
.icon-disk:before {
	content: "\e60d";
}
.icon-user:before {
	content: "\e60e";
}
.icon-search:before {
	content: "\e60f";
}
.icon-key:before {
	content: "\e610";
}
.icon-minus:before {
	content: "\e611";
}
.icon-plus:before {
	content: "\e612";
}
.icon-arrow-up:before {
	content: "\e613";
}
.icon-arrow-right:before {
	content: "\e614";
}
.icon-arrow-down:before {
	content: "\e615";
}
.icon-arrow-left:before {
	content: "\e616";
}
.icon-bold:before {
	content: "\e617";
}
.icon-underline:before {
	content: "\e618";
}
.icon-italic:before {
	content: "\e619";
}
.icon-paragraph-left:before {
	content: "\e61a";
}
.icon-paragraph-center:before {
	content: "\e61b";
}
.icon-paragraph-right:before {
	content: "\e61c";
}
.icon-list:before {
	content: "\e61d";
}
.icon-numbered-list:before {
	content: "\e61e";
}
.icon-menu:before {
	content: "\e61f";
}
.icon-menu2:before {
	content: "\e620";
}
.icon-print:before {
	content: "\e621";
}
.icon-remove:before {
	content: "\e622";
}
.icon-link:before {
	content: "\e623";
}
.icon-scissors:before {
	content: "\e624";
}
.icon-close:before {
	content: "\e625";
}
.icon-pencil2:before {
	content: "\e626";
}
.icon-undo:before {
	content: "\e627";
}
.icon-redo:before {
	content: "\e628";
}
.icon-file-xml:before {
	content: "\e629";
}
.icon-file-css:before {
	content: "\e62a";
}
.icon-html5:before {
	content: "\e62b";
}
.icon-css3:before {
	content: "\e62c";
}
.icon-mail:before {
	content: "\e62d";
}
.icon-indent-increase:before {
	content: "\e62e";
}
.icon-indent-decrease:before {
	content: "\e62f";
}
.icon-table:before {
	content: "\e630";
}
.icon-paste:before {
	content: "\e631";
}
.icon-spoon-knife:before {
	content: "\e632";
}
.icon-opt:before {
	content: "\e633";
}
.icon-users:before {
	content: "\e634";
}

.icon-wrench:before {
	content: "\e638";
}
.icon-cogs:before {
	content: "\e639";
}

.icon-truck:before {
    content: "\e63a";
}

.icon-send:before {
	content: "\e635";
}
.icon-paperplane:before {
	content: "\e636";
}

.icon-ruler:before {
    content: "\e63b";
}

.icon-sort-alpha-asc:before {
	content: "\e800";
}
.icon-sort-numeric-asc:before {
	content: "\e801";
}
/* a little usability fix applied via class, and a toolbox class 
    for hiding the text but leaving it accessible */
.iconlink {
  display: inline-block; /* Fix for clickability issue in WebKit */
  margin-right: 1.2%;
}


/* accessability */
.screen-reader-text { 
  /* Reusable, toolbox kind of class
      voor screen readers, op die manier
      kunnen de readers lezen waarvoor
      de knop staat; de tekst is zelf
      niet zichtbaar op het scherm door negatieve
      waarden toe te kennen aan top en left */
  position: absolute;
  top: -9999px;
  left: -9999px;
}