/* 
    room 
*/
.room {
    position: relative;
    height: 89%;
    width:  100%;
    opacity: 0.95;
    /* schuif verticaal als inhoud te groot wordt */
    overflow-y: auto;
    /* standaard behang is outer space kleur */
    background-color: #414A4C;
 }

.room .tile {
    position: relative; /* masker is absoluut geplaatst hierop*/
    float: left; /* tegels naast en onder elkaar */
    overflow: hidden;
    border-right:  0.3em solid #fff;
    border-bottom: 0.3em solid #fff;
    /* standaard schema, kan eventueel overschreven worden
        met een scheme klasse */
    text-shadow: 0 0 6px #414A4C;
}


/*  clickable tile or mask
    a little usability fix applied via class, and a toolbox class 
    for hiding the text but leaving it accessible */
.room a.tile, .room a.mask {
    text-decoration: none;
    display: inline-block; /* Fix for clickability issue in WebKit */
}


.room > .tile > h1 {
    display: block;
    text-transform: uppercase;
    color: #f4f0ec;
    text-align: center;
    font-size: 5vh;
    padding: 0 0 0 0;
    margin: 2% 0 0 0;
    overflow: hidden;
    -webkit-text-shadow: 0 0 6px #414A4C;
    -moz-text-shadow: 0 0 6px #414A4C;
    text-shadow: 0 0 6px #414A4C;
}

.room > .tile > .icon-font {
    color: #f4f0ec;
    text-align: center;
    font-size: 10vh;
    padding: 0 0 0 0;
    margin: 3% 0 2% 0;
    overflow: hidden;
    -webkit-text-shadow: 0 0 6px #414A4C;
    -moz-text-shadow: 0 0 6px #414A4C;
    text-shadow: 0 0 6px #414A4C;
}

.room > .tile > p {
    font-style: italic;
    font-size: 3vh;
    color: #fff;
    padding: 1% 3% 3% 3%;
    text-align: center;
}

.room > .tile .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
}

.room > .tile .mask h2 {
    text-transform: uppercase;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 4vh;
    padding: 0, 10px, 0, 10px;
    margin: 8px 0 0 0;
}

.room > .tile .mask p {
    font-style: italic;
    font-size: 2.5vh;
    position: relative;
    color: #fff;
    padding: 0 4% 6% 4%;
    text-align: center;
}

.room > .tile .action {
    position: absolute;
    top: 70%;
    left: 25%;
    display: block;
    width: 50%;
    padding: 2% 2%;
    background: rgba(12,12,12, 0.4);
    color: #fff;
    text-transform: uppercase;
    -web-text-transform: uppercase;
    -moz-text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    font-size: 100%;
    text-align: center;
}

/* Wordt nogal moeilijk. De bedoeling van de sibling selectors is dat de tekst op de tegel
    alleen verdwijnt als er een mask is voorzien. De mask moet wel voor de html elementen
    staan die op de teskttegel staan. De sibling selector selecteert alleen de 
    zusterelementen die erna komen. 
    */
.room > .tile.hover:hover .mask ~ * {
    display: none;
}

/*----------------------------------- bouncing mask ------------------------------------*/
.room > .tile.hover:hover .mask.view-bounce {
    top: 0px;
    display: block;
    background: rgba(91,98,88, 0.8);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.7s linear;
    animation: bounceY 0.7s linear;
}

/*------------------------ fade-in-left ---------------------------*/
.room > .tile.hover:hover .mask.fade-in-left {
    top: 0px;
    display: block;
    background: rgba(91,98,88, 0.8);
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

/*------------------------ rotate-in ---------------------------*/
.room > .tile.hover:hover .mask.rotate-in {
    top: 0px;
    display: block;
    background: rgba(91,98,88, 0.8);
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

/*------------------------ scale-in-in ---------------------------*/
.room > .tile.hover:hover .mask.scale-in {
    top: 0px;
    display: block;
    background: rgba(91,98,88, 0.8);
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

/*------------------------ scale-in-sec ---------------------------*/
.room > .tile.hover:hover .mask.scale-in-sec {
    top: 0px;
    display: block;
    background: rgba(91,98,88, 0.8);
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}


/*------------------------ masker zonder animatie  ---------------------------*/
.room > .tile.hover:hover .mask.no-animation {
    background: rgba(91,98,88, 0.8);
    display: block;
}

/*------------------------ hover zonder masker  ---------------------------*/
.room > .tile.hover:hover {
    background: rgba(91,98,88, 1);
    display: block;
}


/* */
/* Common style */
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 33.333%;
	height: 400px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}