/* 
    tegels
*/
/* tegelraster*/
/* twee  op een rij; 2 hoog */
._1x2x2 {
    width: 50%;
    height: 50%;
}

._2x2x2 {
    width: 100%;
    height: 50%;
}

/* twee  op een rij; 1 hoog */
._1x2x1 {
    width: 50%;
    height: 100%;
}

._2x2x1 {
    width: 100%;
    height: 100%;
}

/* vier op een rij; 1 hoog */
._1x4x1 {
    width: 25%;
    height: 100%;
}

._2x4x1 {
    width: 50%;
    height: 100%;
}

/* vier op een rij, twee hoog */
._1x4x2 {
    width: 25%;
    height: 50%;
}

._2x4x2 {
    width: 50%;
    height: 50%;
}

._3x4x2 {
    width: 75%;
    height: 50%;
}

._4x4x2 {
    width: 100%;
    height: 50%;
}

/* 3 tegels per rij, 2 hoog */
/* twee tegels breed 3 per rij, 2 hoog */
._1x3x2 {
    width: 33.3%;
    height: 50%;
}

._2x3x2 {
    width: 66.6%;
    height: 50%;
}

._3x3x2 {
    width: 100%;
    height: 50%;
}

/* 3 tegels per rij, 1 hoog */
._1x3x1 {
    width: 33.3333%;
    height: 100%;
}

._2x3x1 {
    width: 66.6%;
    height: 100%;
}

._3x3x1 {
    width: 100%;
    height: 100%;
}

/* vier op een rij, drie rijen 
    _4x4x3 te lezen als 4 tegels breed van het formaat 4x3 */
._1x4x3 {
    width: 25%;
    height: 33.3%;
}

._2x4x3 {
    width: 50%;
    height: 33.3%;
}

._3x4x3 {
    width: 75%;
    height: 33.3%;
}

._4x4x3 {
    width: 100%;
    height: 33.3%;
}

/* vijf op een rij, vier rijen */
._1x5x4 {
    width: 20%;
    height: 25%;
}

._2x5x4 {
    width: 40%;
    height: 25%;
}

._3x5x4 {
    width: 60%;
    height: 25%;
}

._4x5x4 {
    width: 80%;
    height: 25%;
}

._5x5x4 {
    width: 100%;
    height: 25%;
}

/* vijf op een rij, acht rijen */
._1x5x8 {
    width: 20%;
    height: 12.5%;
}

._2x5x8 {
    width: 40%;
    height: 12.5%;
}

._3x5x8 {
    width: 60%;
    height: 12.5%;
}

._4x5x8 {
    width: 80%;
    height: 12.5%;
}

._5x5x8 {
    width: 100%;
    height: 12.5%;
}

/* 7 tegels per rij op 8 rijen */
._1x7x8 {
    width: 14.25%;
    height: 12.5%;
}

._2x7x8 {
    width: 29.5%;
    height: 12.5%;
}

._1x14x1 {
    width: 7%;
    height: 100%;
}

._1x16x1 {
    width: 6.25%;
    height: 100%;
}

/* 25 tegels per rij, één rij */
._1x25x1 {
    width: 4%;
    height: 100%;
}

/* zitten er nog in omwille backward compatibility, maar moeten eruit */

/* vier op een rij, drie rijen 
    blijft hier voorlopig staan backward compatibility
    de naam is nu _4x4x3 te lezen als 4 tegels van het formaat 4x3 */
._4x3 {
    width: 25%;
    height: 33.3%;
}

._3x3 {
    width: 75%;
    height: 33.3%;
}

._2x3 {
    width: 50%;
    height: 33.3%;
}

._1x3 {
    width: 100%;
    height: 33.3%;
}

/* vier op een rij, zes rijen */
._4x6 {
    width: 25%;
    height: 16.66%;
}

._3x6 {
    width: 75%;
    height: 16.66%;
}

._2x6 {
    width: 50%;
    height: 16.66%;
}

._1x6 {
    width: 100%;
    height: 16.66%;
}

/* vier op een rij, vier rijen */
._4x4 {
    width: 25%;
    height: 25%;
}

._3x4 {
    width: 75%;
    height: 25%;
}

._2x4 {
    width: 50%;
    height: 25%;
}

._1x4 {
    width: 100%;
    height: 25%;
}

/* vier op een rij, acht rijen */
._4x8 {
    width: 25%;
    height: 12.5%;
}

._3x8 {
    width: 75%;
    height: 12.5%;
}

._2x8 {
    width: 50%;
    height: 12.5%;
}

._1x8 {
    width: 100%;
    height: 12.5%;
}

/* 14 tegels per rij, één rij */
._14x1 {
    width: 7%;
    height: 100%;
}

/* 20 tegels per rij, één rij */
._20x1 {
    width: 5%;
    height: 100%;
}
