* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Lato, Calibri, Arial, sans-serif;
    position: relative;
    font-size: 100%;
}

header {
    width: 97%;
    height: 12%;
    position: absolute;
    top:  0;
    left: 0;
    font-size: 1.2em;
    background-color: #EEEEE0 ; /*floral white*/
    vertical-align: middle; /* zodat h1 in het verticale midden staat */
    padding:  0 3% 0 0;
}

header h1 {

    font-size: 250%;
    font-weight: 900;
    line-height: 1.2em;
    color: #3b444b; /*arsenic*/
    text-align: right;
    width: 100%;
}

#logo {
    position: absolute;
    top: 32%;
    left: 25%;
    height: 66%;
    width: 50%;
    background: url('../images/inantwerpen.png') no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
}

/* het behang papier voor de wysiwyg editor 
    die staat voorlopig op de vijfde verdieping */
.wysiwyg-editor {
    background-color: #faebd7; /* Antique white mocassin */
    border-right: 2px solid #3c3c3c;
    border-left: 2px solid #3c3c3c;
    width: 100%;
    height: 93%;
}

