@font-face {
	font-family: 'myaa';
	src:url('fonts/myaa.eot?-ebd725');
	src:url('fonts/myaa.eot?#iefix-ebd725') format('embedded-opentype'),
		url('fonts/myaa.woff?-ebd725') format('woff'),
		url('fonts/myaa.ttf?-ebd725') format('truetype'),
		url('fonts/myaa.svg?-ebd725#myaa') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'myaa';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e600";
}
.icon-image:before {
	content: "\e601";
}
.icon-images:before {
	content: "\e602";
}
.icon-book:before {
	content: "\e603";
}
.icon-books:before {
	content: "\e604";
}
.icon-file:before {
	content: "\e605";
}
.icon-copy:before {
	content: "\e606";
}
.icon-stack:before {
	content: "\e607";
}
.icon-folder:before {
	content: "\e608";
}
.icon-folder-open:before {
	content: "\e609";
}
.icon-notebook:before {
	content: "\e60a";
}
.icon-disk:before {
	content: "\e60b";
}
.icon-user:before {
	content: "\e60c";
}
.icon-search:before {
	content: "\e60d";
}
.icon-key:before {
	content: "\e60e";
}
.icon-minus:before {
	content: "\e60f";
}
.icon-plus:before {
	content: "\e610";
}
.icon-arrow-up:before {
	content: "\e611";
}
.icon-arrow-right:before {
	content: "\e612";
}
.icon-arrow-down:before {
	content: "\e613";
}
.icon-arrow-left:before {
	content: "\e614";
}
.icon-bold:before {
	content: "\e615";
}
.icon-underline:before {
	content: "\e616";
}
.icon-italic:before {
	content: "\e617";
}
.icon-paragraph-left:before {
	content: "\e618";
}
.icon-paragraph-center:before {
	content: "\e619";
}
.icon-paragraph-right:before {
	content: "\e61a";
}
.icon-list:before {
	content: "\e61b";
}
.icon-numbered-list:before {
	content: "\e61c";
}
.icon-menu:before {
	content: "\e61d";
}
.icon-menu2:before {
	content: "\e61e";
}
.icon-print:before {
	content: "\e61f";
}
.icon-remove:before {
	content: "\e620";
}
.icon-link:before {
	content: "\e621";
}
.icon-scissors:before {
	content: "\e622";
}
.icon-close:before {
	content: "\e624";
}
.icon-pencil2:before {
	content: "\e623";
}
.icon-undo:before {
	content: "\e625";
}
.icon-redo:before {
	content: "\e626";
}
.icon-file-xml:before {
	content: "\e627";
}
.icon-file-css:before {
	content: "\e62a";
}
.icon-html5:before {
	content: "\e62b";
}
.icon-css3:before {
	content: "\e62d";
}
.icon-mail:before {
	content: "\e628";
}
