<!--    Catalog for What will we eat today? Dish, DishCategory, Menu, Weekmenu 27 augustus 2014 -->
<h1>WWWET</h1>

<h2>Wat eten we vandaag?</h2>

<h3>AnOrmApart</h3>

<div>
<h1>Type gerecht</h1>

<h2>DishCategory</h2>

<h3>extend</h3>

<h4>Order</h4>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>National</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Order</td>
			<td>Volgorde</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>order</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>CSS</td>
			<td>CSS</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>20</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>css</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h1>Maaltijd type</h1>

<h2>Mealtime</h2>

<h3>extend</h3>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>NO</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>Dish</h2>

<h3>extend</h3>

<h4>Dish.Name</h4>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdDishCategory</td>
			<td>Category</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>DishCategory</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>SELECT</td>
			<td>iddishcategory</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>ByDefault</td>
			<td>Alternatief</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Boolean</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>bydefault</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Margin</td>
			<td>Marge</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>FLOAT</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>margin</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Monday</td>
			<td>Maandag</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Boolean</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>monday</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Tuesday</td>
			<td>Dinsdag</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Boolean</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>tuesday</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Wednesday</td>
			<td>Woensdag</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Boolean</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>wednesday</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Donderdag</td>
			<td>Thursday</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Boolean</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>thursday</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>Vrijdag</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Boolean</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>friday</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>Zaterdag</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Boolean</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>saturday</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Sunday</td>
			<td>Zondag</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Boolean</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>sunday</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h1>Menu</h1>

<h2>Menu</h2>

<h3>extend</h3>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Date</td>
			<td>Datum</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATE</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>ETEDT</td>
			<td>date</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdMealtime</td>
			<td>Maaltijd</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Mealtime</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>SELECT</td>
			<td>NA</td>
			<td>idmealtime</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h1>Menugerecht</h1>

<h2>MenuDish</h2>

<h3>extend</h3>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdMenu</td>
			<td>Maaltijd</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Menu</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>idmenu</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdDish</td>
			<td>Gerecht</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Dish</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>iddish</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Optional</td>
			<td>Optioneel</td>
			<td>NO</td>
			<td>FALSE</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>iddish</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Meal</td>
			<td>Maaltijd</td>
			<td>NO</td>
			<td>FALSE</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>meal</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h1>Bewoner</h1>

<h2>Resident</h2>

<h3>extend</h3>

<h4>Name</h4>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>120</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>RoomNumber</td>
			<td>Kamernummer</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>12</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>roomnumber</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Diabetes</td>
			<td>Suikerziekte</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Boolean</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>diabetes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Diet</td>
			<td>Dieet</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>TEXTAREA</td>
			<td>NA</td>
			<td>diet</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Extra</td>
			<td>Extra</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>TEXTAREA</td>
			<td>NA</td>
			<td>extra</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Attendant</td>
			<td>Begeleider</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>Attendant</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>attendant</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>Attend</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h1>Begeleider</h1>

<h2>Attendant</h2>

<h3>extend</h3>

<h4>Name</h4>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>NO</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<h1>Eetmaal</h1>

<h2>Meal</h2>

<h3>extend</h3>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdResident</td>
			<td>Resident</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Resident</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>resident-name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Comment</td>
			<td>Opmerkingen</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1023</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>TEXTEAREA</td>
			<td>NA</td>
			<td>comment</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Date</td>
			<td>Datum</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATE</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>date</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdMealtime</td>
			<td>Maaltijd</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Mealtime</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>SELECT</td>
			<td>NA</td>
			<td>idmealtime</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>

<div>
<h1>Eetmaalmenugerechten</h1>

<h2>MealMenuDish</h2>

<h3>extend</h3>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdMenu</td>
			<td>IdMenu</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Menu</td>
			<td>Id</td>
			<td>Date</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>idmenu</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdResident</td>
			<td>IdResident</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Resident</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>idresident</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdMenuDish</td>
			<td>IdMenuDish</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>MenuDish</td>
			<td>Id</td>
			<td>MenuDishId</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>idmenudish</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
