<p><!--    JI    14 juni 2017    Catalog for Battle Platform --><!-- h1 app en databasename --></p>

<div class="logical-model">
	<h2>bp</h2>
	<!-- app en databasename in het Nederlands -->

	<h3>Battle Platform</h3>
	<!-- vendor of leveranciernaam -->

	<h4>bpbackend</h4>
	<!-- voor elke tabel in de database een div -->

	<div>
		<h2>User</h2>

		<h3>User</h3>
		<!-- extends base class --><!-- order by columns -->

		<h5>ArtistName</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>FacebookId</td>
				<td>Facebook Id</td>
				<td>YES</td>
				<td>NO</td>
				<td>YES</td>
				<td>CHAR</td>
				<td>128</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Picture</td>
				<td>Picture</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>255</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>ArtistName</td>
				<td>Artist Name</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>20</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>Description</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>255</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>City</td>
				<td>City</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>50</td>
				<td>YES</td>
				<td>YES</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Country</td>
				<td>Country</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>50</td>
				<td>YES</td>
				<td>YES</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>LastActivity</td>
				<td>Last Activity</td>
				<td>NO</td>
				<td>SP-UPDATE(now())</td>
				<td>NO</td>
				<td>TIMESTAMP</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NONE</td>
				<td>TIMESTAMP</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>FirstLogin</td>
				<td>First Login</td>
				<td>NO</td>
				<td>SP-INSERT(now())</td>
				<td>NO</td>
				<td>TIMESTAMP</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NONE</td>
				<td>TIMESTAMP</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Authenticated</td>
				<td>Authenticated</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>BOOL</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>CHECKBOX</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>InsertedOn</td>
				<td>Inserted on</td>
				<td>NA</td>
				<td>SP-INSERT(now())</td>
				<td>NO</td>
				<td>TIMESTAMP</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NONE</td>
				<td>TIMESTAMP</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>ModifiedOn</td>
				<td>Modified on</td>
				<td>NA</td>
				<td>SP-UPDATE(now())</td>
				<td>NO</td>
				<td>TIMESTAMP</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NONE</td>
				<td>TIMESTAMP</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Organiser</h2>

		<h3>Organiser</h3>

		<p><!-- extends base class --><!-- order by columns --></p>

		<h5>&nbsp;</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>BattleId</td>
				<td>Battle Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>Battle</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>UserId</td>
				<td>User Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>User</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Battle</h2>

		<h3>Battle</h3>
		<!-- extends base class --><!-- order by columns -->

		<h5>Name</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>Name</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>128</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Picture</td>
				<td>Picture</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>255</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Address</td>
				<td>Address</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>255</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>Description</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>TEXT</td>
				<td>NA</td>
				<td>YES</td>
				<td>YES</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>Price</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>FLOAT</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Prizemoney</td>
				<td>Prize Money</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>FLOAT</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Start</td>
				<td>Start</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>DATETIME</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>DATE</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>End</td>
				<td>End</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>DATETIME</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>DATE</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Latitude</td>
				<td>Latitude</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>FLOAT</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Longitude</td>
				<td>Longitude</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>FLOAT</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>InsertedOn</td>
				<td>Inserted on</td>
				<td>NA</td>
				<td>SP-INSERT(now())</td>
				<td>NO</td>
				<td>TIMESTAMP</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NONE</td>
				<td>TIMESTAMP</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>ModifiedOn</td>
				<td>Modified on</td>
				<td>NA</td>
				<td>SP-UPDATE(now())</td>
				<td>NO</td>
				<td>TIMESTAMP</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NONE</td>
				<td>TIMESTAMP</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>BattleCategory</h2>

		<h3>BattleCategory</h3>

		<p><!-- extends base class --><!-- order by columns --></p>

		<h5>&nbsp;</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>BattleId</td>
				<td>Battle Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>Battle</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>CategoryId</td>
				<td>Category Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>Category</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Start</td>
				<td>Start</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>DATETIME</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>DATE</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>End</td>
				<td>End</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>DATETIME</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>DATE</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>Description</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>TEXT</td>
				<td>NA</td>
				<td>YES</td>
				<td>YES</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>BattleMethod</td>
				<td>Battle Method</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>100</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>JudgingSystem</td>
				<td>Judging System</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>100</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Category</h2>

		<h3>Category</h3>

		<p><!-- extends base class --><!-- order by columns --></p>

		<h5>Name</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>Name</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>50</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Judge</h2>

		<h3>Judge</h3>

		<p><!-- extends base class --><!-- order by columns --></p>

		<h5>&nbsp;</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>BattleCategoryId</td>
				<td>Battle Category Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>BattleCategory</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>UserId</td>
				<td>User Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>User</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Participant</h2>

		<h3>Participant</h3>

		<p><!-- extends base class --><!-- order by columns --></p>

		<h5>&nbsp;</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>BattleCategoryId</td>
				<td>Battle Category Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>BattleCategory</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>UserId</td>
				<td>User Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>User</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>CrewId</td>
				<td>Crew Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>Crew</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>MatchUp</h2>

		<h3>MatchUp</h3>

		<p><!-- extends base class --><!-- order by columns --></p>

		<h5>&nbsp;</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>LoserId</td>
				<td>Loser Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>FirstParticipantId</td>
				<td>First Participant Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>Participant</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>SecondParticipantId</td>
				<td>Second Participant Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>Participant</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>BattleCategoryId</td>
				<td>Battle Category Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>BattleCategory</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Position</td>
				<td>Position</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>50</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Member</h2>

		<h3>Member</h3>

		<p><!-- extends base class --><!-- order by columns --></p>

		<h5>&nbsp;</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>UserId</td>
				<td>User Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>User</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>CrewId</td>
				<td>Crew Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>Crew</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Admin</td>
				<td>Admin</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>BOOL</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>CHECKBOX</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Crew</h2>

		<h3>Crew</h3>
		<!-- extends base class --><!-- order by columns -->

		<h5>Name</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>Name</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>20</td>
				<td>YES</td>
				<td>YES</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Picture</td>
				<td>Picture</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>255</td>
				<td>YES</td>
				<td>YES</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Country</td>
				<td>Country</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>50</td>
				<td>YES</td>
				<td>YES</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>Description</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>255</td>
				<td>YES</td>
				<td>YES</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Established</td>
				<td>Established</td>
				<td>NO</td>
				<td>NO</td>
				<td>NO</td>
				<td>BOOL</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>CHECKBOX</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>InsertedOn</td>
				<td>Inserted on</td>
				<td>NA</td>
				<td>SP-INSERT(now())</td>
				<td>NO</td>
				<td>TIMESTAMP</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NONE</td>
				<td>TIMESTAMP</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>ModifiedOn</td>
				<td>Modified on</td>
				<td>NA</td>
				<td>SP-UPDATE(now())</td>
				<td>NO</td>
				<td>TIMESTAMP</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NONE</td>
				<td>TIMESTAMP</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Tag</h2>

		<h3>Tag</h3>

		<p><!-- extends base class --><!-- order by columns --></p>

		<h5>&nbsp;</h5>

		<table class="logical-model-entity">
			<thead>
			<tr>
				<td>Column Name</td>
				<td>Display Text</td>
				<td>Searchable</td>
				<td>Default Value</td>
				<td>Unique</td>
				<td>Type</td>
				<td>Length</td>
				<td>Variable</td>
				<td>International</td>
				<td>Required</td>
				<td>Reference Table</td>
				<td>Reference Column</td>
				<td>Display Column</td>
				<td>List</td>
				<td>HTML element</td>
				<td>HTML type attribute</td>
				<td>Reserved</td>
				<td>HTML pattern attribute</td>
				<td>HTML title attribute</td>
				<td>HTML placeholder attribute</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>PK</td>
				<td>YES</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>HIDDEN</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>BattleId</td>
				<td>Battle Id</td>
				<td>NA</td>
				<td>NO</td>
				<td>NO</td>
				<td>Integer</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>NO</td>
				<td>Battle</td>
				<td>Id</td>
				<td>Name</td>
				<td>YES</td>
				<td>SELECT</td>
				<td>NA</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>Name</td>
				<td>YES</td>
				<td>NO</td>
				<td>NO</td>
				<td>CHAR</td>
				<td>25</td>
				<td>YES</td>
				<td>YES</td>
				<td>NO</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
				<td>YES</td>
				<td>INPUT</td>
				<td>TEXT</td>
				<td>&nbsp;</td>
				<td>NA</td>
				<td>NA</td>
				<td>NA</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
