<p><!--    JI    16 oktober 2013    Catalog for Member and LoginAttempt tables used in membership --><!-- h1 app en databasename --></p>

<div class="logical-model">
<h2>docent1</h2>
<!-- app en databasename in het Nederlands -->

<h3>Fric-Frac</h3>
<!-- vendor of leveranciernaam -->

<h4>ModernWays</h4>
<!-- voor elke tabel in de database een div -->

<div>
<h2>Person</h2>

<h3>Persoon</h3>
<!-- extends base class -->

<h4>&nbsp;</h4>
<!-- order by columns -->

<h5>FirstName, LastName</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>Reserved</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>FirstName</td>
			<td>Voornaam</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>50</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>LastName</td>
			<td>Achternaam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>120</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>E-mail</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>EMAIL</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>jan.jannsens@mail.me</td>
		</tr>
		<tr>
			<td>Address1</td>
			<td>Adres 1</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Address2</td>
			<td>Adres 2</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>PostalCode</td>
			<td>Postcode</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>20</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>City</td>
			<td>Stad</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>80</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>CountryId</td>
			<td>Land</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>Country</td>
			<td>Id</td>
			<td>Name</td>
			<td>NO</td>
			<td>SELECT</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Phone1</td>
			<td>Telefoon 1</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>25</td>
			<td>YES</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Birthday</td>
			<td>Geboortedatum</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATETIME</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>DATE</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Rating</td>
			<td>Tevreden</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>RANGE</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>Country</h2>

<h3>Land</h3>
<!-- extends base class -->

<h4>&nbsp;</h4>
<!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>Reserved</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>50</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Code</td>
			<td>Code</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>2</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>Role</h2>

<h3>Rol</h3>
<!-- extends base class -->

<h4>&nbsp;</h4>
<!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>Reserved</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>50</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>User</h2>

<h3>Gebruiker</h3>
<!-- extends base class -->

<h4>&nbsp;</h4>
<!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>Reserved</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>50</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Salt</td>
			<td>Zout</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>HashedPassword</td>
			<td>Hash</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>PersonId</td>
			<td>Persoon Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>Person</td>
			<td>Id</td>
			<td>FirstName, LastName</td>
			<td>NO</td>
			<td>SELECT</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>RoleId</td>
			<td>Rol Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>Role</td>
			<td>Id</td>
			<td>Name</td>
			<td>NO</td>
			<td>SELECT</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>EventCategory</h2>

<h3>Event categorie</h3>
<!-- extends base class -->

<h4>&nbsp;</h4>
<!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>Reserved</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>120</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>EventTopic</h2>

<h3>Event topic</h3>
<!-- extends base class -->

<h4>&nbsp;</h4>
<!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>Reserved</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>120</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>Event</h2>

<h3>Event</h3>
<!-- extends base class -->

<h4>&nbsp;</h4>
<!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>Reserved</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>120</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Location</td>
			<td>Locatie</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>120</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Starts</td>
			<td>Start</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATETIME</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>DATE</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Ends</td>
			<td>Einde</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATETIME</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>DATE</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Image</td>
			<td>Afbeelding</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>Beschrijving</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1024</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>OrganiserName</td>
			<td>Organisator naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>120</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>OrganiserDescription</td>
			<td>Organisator beschrijving</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>120</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>EventCategoryId</td>
			<td>EventCategoryId</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>EventCategory</td>
			<td>Id</td>
			<td>Name</td>
			<td>NO</td>
			<td>SELECT</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>EventTopicId</td>
			<td>EventTopicId</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>EventTopic</td>
			<td>Id</td>
			<td>Name</td>
			<td>NO</td>
			<td>SELECT</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
</div>
