<!--    JI    1 november 2015    Catalog for e-shop: shopping online and admin --><!-- h1 app en databasename -->
<div class="logical-model">
<h2>Webwinkel</h2>
<!-- h2 app en databasename in het Nederlands -->

<h3>Webwinkel</h3>
<!-- h3 vendor of leveranciernaam -->

<h4>ModernWays</h4>
<!-- voor elke tabel in de database een div -->

<div>
<h2 id="country">Country</h2>

<h3>Land</h3>
<!-- h4 extends base class --><!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Code</td>
			<td>Code</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>2</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>code</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Latitude</td>
			<td>Breedtegraad</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>FLOAT</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>latidtude</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Longitude</td>
			<td>Lengtegraad</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>FLOAT</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>longitude</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>ShippingCostMultiplier</td>
			<td>Verzendkosten</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>FLOAT</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>shippingcostmultiplier</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2 id="orderstatus">OrderStatus</h2>

<h3>Status bestelling</h3>
<!-- h4 extends base class --><!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>Beschrijving</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1024</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>TEXTEAREA</td>
			<td>NA</td>
			<td>description</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2 id="category">Category</h2>

<h3>Categorie</h3>
<!-- h4 extends base class --><!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>Beschrijving</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1024</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>TEXTEAREA</td>
			<td>NA</td>
			<td>description</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2 id="unitbase">UnitBase</h2>

<h3>Basiseenheid</h3>
<!-- h4 extends base class --><!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>Beschrijving</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1024</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>TEXTEAREA</td>
			<td>NA</td>
			<td>description</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>ShippingCostMultiplier</td>
			<td>Verzendkostenfactor</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>FLOAT</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>shippingcostmultiplier</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Code</td>
			<td>Code</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>2</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>code</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2 id="shippingmethod">ShippingMethod</h2>

<h3>Verzendingswijze</h3>
<!-- h4 extends base class --><!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>Beschrijving</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1024</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>TEXTEAREA</td>
			<td>NA</td>
			<td>description</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Price</td>
			<td>Kostprijs</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>DECIMAL</td>
			<td>6,2</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>price</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2 id="supplier">Supplier</h2>

<h3>Leverancier</h3>
<!-- h4 extends base class --><!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Code</td>
			<td>Code</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>10</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>code</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Contact</td>
			<td>Contact</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>contact</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Address</td>
			<td>Adres</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>address</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>City</td>
			<td>Stad</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>city</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Region</td>
			<td>Regio</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>80</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>region</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>PostalCode</td>
			<td>Postcode</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>20</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>postalcode</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdCountry</td>
			<td>Land</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>MANY</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>Country</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>idcountry</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Phone</td>
			<td>Telefoon</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>40</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>phone</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Mobile</td>
			<td>Mobiel</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>40</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>mobile</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2 id="customer">Customer</h2>

<h3>Klant</h3>
<!-- h4 extends base class --><!-- order by columns -->

<h5>LastName, FirstName</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>NickName</td>
			<td>Roepnaam</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>10</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>code</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>FirstName</td>
			<td>Voornaam</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>LastName</td>
			<td>Familienaam</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>contact</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Address1</td>
			<td>Adres 1</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>address1</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Address2</td>
			<td>Adres 2</td>
			<td>NO</td>
			<td>&nbsp;</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>address2</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>City</td>
			<td>Stad</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>city</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Region</td>
			<td>Regio</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>80</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>region</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>PostalCode</td>
			<td>Postcode</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>20</td>
			<td>YES</td>
			<td>NO</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>postalcode</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdCountry</td>
			<td>Land</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>MANY</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Country</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>idcountry</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Phone</td>
			<td>Telefoon</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>40</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>phone</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Mobile</td>
			<td>Mobieltje</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>40</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>mobile</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2 id="product">Product</h2>

<h3>Product</h3>
<!-- h4 extends base class --><!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Description</td>
			<td>Beschrijving</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1024</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>TEXTEAREA</td>
			<td>NA</td>
			<td>description</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Price</td>
			<td>Prijs</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>FLOAT</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>price</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>ShippingCost</td>
			<td>Verzendkosten</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>FLOAT</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>shippingcost</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>TotalRating</td>
			<td>Totaal rating</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>totalrating</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Thumbnail</td>
			<td>Miniatuur</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>thumbnail</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Image</td>
			<td>Afbeelding</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>image</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>DiscountPercentage</td>
			<td>Aanbiedingspercent</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>FLOAT</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>DiscountPercentage</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Votes</td>
			<td>Stemmen</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>votes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdSupplier</td>
			<td>Leverancier</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Supplier</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idarticle</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdCategory</td>
			<td>Categorie</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Category</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idcategory</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2 id="order">Order</h2>

<h3>Bestelling</h3>
<!-- h4 extends base class -->

<h5>OrderDate</h5>
<!-- order by columns -->

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>OrderDate</td>
			<td>Besteldatum</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATETIME</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>orderdate</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>ShippingDate</td>
			<td>Verzenddatum</td>
			<td>SELECTBY</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATETIME</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>shippingdate</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Comment</td>
			<td>Opmerking</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>512</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>TEXTEREA</td>
			<td>&nbsp;</td>
			<td>comment</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdCustomer</td>
			<td>Klant</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Customer</td>
			<td>Id</td>
			<td>LastName</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idarticle</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdShippingMethod</td>
			<td>Verzendigsmethode</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>ShippingMethod</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idarticle</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdStatus</td>
			<td>Status</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>OrderStatus</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idarticle</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2 id="orderitem">OrderItem</h2>

<h3>Details bestelling</h3>
<!-- h4 extends base class --><!-- order by columns -->

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>IdProduct</td>
			<td>Product</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Product</td>
			<td>Id</td>
			<td>Name</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idproduct</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdOrder</td>
			<td>Bestelling</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Order</td>
			<td>Id</td>
			<td>Id</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idorder</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Quantity</td>
			<td>Hoeveelheid</td>
			<td>NO</td>
			<td>NA</td>
			<td>NO</td>
			<td>DECIMAL</td>
			<td>4,2</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>quantity</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
</div>
