<p><!--    JI    16 oktober 2013    Catalog for Member and LoginAttempt tables used in membership --><!-- h1 app en databasename --></p>

<div class="logical-model">
<h2>docent1</h2>
<!-- app en databasename in het Nederlands -->

<h3>Dialog</h3>
<!-- vendor of leveranciernaam -->

<h4>RedMind</h4>
<!-- voor elke tabel in de database een div -->

<div>
<h2>Role</h2>

<h3>Rol</h3>
<!-- extends base class -->

<h4>&nbsp;</h4>
<!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>Reserved</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>50</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>User</h2>

<h3>Gebruiker</h3>
<!-- extends base class -->

<h4>&nbsp;</h4>
<!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>Reserved</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>50</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Salt</td>
			<td>Zout</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>HashedPassword</td>
			<td>Hash</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>PersonId</td>
			<td>Persoon Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>Person</td>
			<td>Id</td>
			<td>FirstName, LastName</td>
			<td>NO</td>
			<td>SELECT</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>RoleId</td>
			<td>Rol Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>Role</td>
			<td>Id</td>
			<td>Name</td>
			<td>NO</td>
			<td>SELECT</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NA</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h2>Notice</h2>

<h3>Notitie</h3>
<!-- extends base class -->

<h4>&nbsp;</h4>
<!-- order by columns -->

<h5>Name</h5>

<table class="logical-model-entity">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>List</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>Reserved</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Subject</td>
			<td>Onderwerp</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>message</td>
			<td>Boodschap</td>
			<td>SELECTX</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1023</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Start</td>
			<td>Start</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATETIME</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td><span style='display: inline !important; float: none; background-color: transparent; color: rgb(51, 51, 51); font-family: sans-serif,Arial,Verdana,"Trebuchet MS"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;'>YES</span></td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>DATE</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>End</td>
			<td>Einde</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATETIME</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td><span style='display: inline !important; float: none; background-color: transparent; color: rgb(51, 51, 51); font-family: sans-serif,Arial,Verdana,"Trebuchet MS"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;'>NO</span></td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>INPUT</td>
			<td>DATE</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Source</td>
			<td>Bron</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>SELECT</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
</div>
