<!--JI | 15/02/2014 | De entrant tabel voor Register-Today -->
<h1>WWWET</h1>

<h2>Register Today</h2>

<h3>AnOrmApart</h3>

<div>
<h1>Type gerecht</h1>

<h2>DishCategory</h2>

<h3>extend</h3>

<h4></h4>

<table border="1" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>HTML fieldset</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Aanmelden</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>UserName</td>
			<td>Gebruikersnaam</td>
			<td>YES</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>80</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Aanmelden</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>username</td>
			<td>NA</td>
			<td>NA</td>
			<td>Voornaam Familienaam</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>E-mail</td>
			<td>YES</td>
			<td>NO</td>
			<td>YES</td>
			<td>CHAR</td>
			<td>80</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Aanmelden</td>
			<td>INPUT</td>
			<td>EMAIL</td>
			<td>email</td>
			<td>NA</td>
			<td>Geen geldig e-mail adres</td>
			<td><a href="mailto:iemand@provider.com">iemand@provider.com</a></td>
		</tr>
		<tr>
			<td>OwnNotebook</td>
			<td>Eigen notebook</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Aanmelden</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>ownnotebook</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Lunch</td>
			<td>Lunch</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Aanmelden</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>lunch</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session01</td>
			<td>Sessie 1</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session01</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session02</td>
			<td>Sessie 2</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session02</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session03</td>
			<td>Sessie 3</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session03</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session04</td>
			<td>Sessie 4</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session04</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session05</td>
			<td>Sessie 5</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session05</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session06</td>
			<td>Sessie 6</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session06</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session07</td>
			<td>Sessie 7</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session07</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session08</td>
			<td>Sessie 8</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session08</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session09</td>
			<td>Sessie 9</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session09</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session10</td>
			<td>Sessie 10</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session10</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session11</td>
			<td>Sessie 11</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session11</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session12</td>
			<td>Sessie 12</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session12</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session13</td>
			<td>Sessie 13</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session13</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session14</td>
			<td>Sessie 14</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session14</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Session15</td>
			<td>Sessie 15</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sessies</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>session15</td>
			<td>NA</td>
			<td>&nbsp;</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Authenticated</td>
			<td>Geverifieerd</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Aanmelden</td>
			<td>INPUT</td>
			<td>CHECKBOX</td>
			<td>authenticated</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>InsertedOn</td>
			<td>Inserted on</td>
			<td>NA</td>
			<td>SP-INSERT(now())</td>
			<td>NO</td>
			<td>TIMESTAMP</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Credentials</td>
			<td>NONE</td>
			<td>TIMESTAMP</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>ModifiedOn</td>
			<td>Modified on</td>
			<td>NA</td>
			<td>SP-UPDATE(now())</td>
			<td>NO</td>
			<td>TIMESTAMP</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Credentials</td>
			<td>NONE</td>
			<td>TIMESTAMP</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
