<!--    Catalog for What will we eat today? Dish, DishCategory, Menu, Weekmenu 27 augustus 2014 -->
<h1>WWWET</h1>

<h2>Wat eten we vandaag?</h2>

<h3>AnOrmApart\WWWET</h3>

<div>
<h2>WeeklyMenu</h2>

<h4>`Menu`.`Date`, `DishCategory`.`Order`</h4>

<table border="1">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>HTML fieldset</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Date</td>
			<td>Datum</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>DATE</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Weekly menu</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Order</td>
			<td>Category</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Weekly menu</td>
			<td>INPUT</td>
			<td>SELECT</td>
			<td>iddishcategory</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>MealtimeName</td>
			<td>Naam</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>25</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA<br>
			&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Weekly menu</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>DishName</td>
			<td>Naam</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA<br>
			&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Weekly menu</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Optional</td>
			<td>Naam</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>BOOL</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA<br>
			&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Weekly menu</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>DishCategoryName</td>
			<td>Naam</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>255</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA<br>
			&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Weekly menu</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>MenuDishMeal</td>
			<td>Naam</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1</td>
			<td>NO</td>
			<td>NO</td>
			<td>NA<br>
			&nbsp;</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Gerecht</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
