<!--    Catalog for What will we eat today? Dish, DishCategory, Menu, Weekmenu 27 augustus 2014 -->
<h1>WWWET</h1>

<h2>Wat eten we vandaag?</h2>

<h3>AnOrmApart\WWWET</h3>

<div>
<h1>Eetmaal</h1>

<h2>Meal</h2>

<h3>extend</h3>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>HTML fieldset</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Meal</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>ResidentId</td>
			<td>Resident</td>
			<td>Resident.Name</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Resident</td>
			<td>Id</td>
			<td>Name</td>
			<td>Meal</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>resident-name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Comment</td>
			<td>Opmerkingen</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>CHAR</td>
			<td>1023</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Meal</td>
			<td>TEXTEAREA</td>
			<td>NA</td>
			<td>comment</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Date</td>
			<td>Datum</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATE</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Meal</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>date</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdMealtime</td>
			<td>Maaltijd</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Mealtime</td>
			<td>Id</td>
			<td>Name</td>
			<td>Meal</td>
			<td>SELECT</td>
			<td>NA</td>
			<td>idmealtime</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<h1>Eetmaalmenugerechten</h1>

<h2>MealMenuDish</h2>

<h3>extend</h3>

<table border="1" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>HTML fieldset</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Yes</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Eetmaalmenugerechten</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>MenuDishId</td>
			<td>MenuDishId</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>Integer</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>MenuDish</td>
			<td>Id</td>
			<td>MenuDishId</td>
			<td>Eetmaalmenugerechten</td>
			<td>INPUT</td>
			<td>TEXT</td>
			<td>menudish-id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
